/* Variables */
:root {
  --header-heigh: 40px;
}

/*  common css */
.left-floated {
  float: left;
}

.right-floated {
  float: right;
}

.content-wide{
  width: 40%;
  min-width: 600px;
  max-width: 100%;
  margin: auto;
}

/* page header */
.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 20px;
  border-bottom: 1px solid #ccc
}
.header-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: var(--header-heigh);
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}

.header-navigation {
  height: var(--header-heigh);
  text-transform: uppercase;
}

.header-navigation>* {
  display: inline-block;
  margin: 0 5px;
  height: 100%;

}

.header-navigation.left-floated {
  line-height: var(--header-heigh);
}

.navigation-button{
  background-color:rgb(98, 136, 165);
  color: white;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  outline: none;
  padding: 0 15px;
  margin-right: 0;
  font-weight: bold;
}

/*  */
.main {
  /* margin-top: 400px; */
}

.main-header-section{
  width: 960px;
  margin: 100px auto 0;
  text-align: center;
}

.main-title{
  font-size: 3rem;
  padding: 20px 20px 20px 100px ;
  font-weight: bold;
  font-family:cursive;
  text-align: left;
}

.main-header-image img{
  width: 100%;
}

.main-header-image figcaption{
  color: grey;
  font-size: 1em;
  text-align: left;
}

.main-header-image figcaption sub{
  color: silver;
  font-size: 14px;
  padding-top: 4px;
}

.meta{
  margin-top:  10px ;
}

.meta .author{
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  margin: 5px 5px;
}

.meta .actions .action-item {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  border-radius: 50%;
}

.meta .actions .action-item.social-media{
  /* padding: 10px; */
  background-color: whitesmoke;
  border-radius: 50%;
}

.meta .date{
  line-height: 35px;
  color: grey;
  font-size: 14px;
}

.main-container{
  clear: both;
  position: relative;
}

.main-container aside{
  float: right;
  margin-right: -40px;
}
