/*  common css */
.left-floated {
  float: left;
}

.right-floated {
  float: right;
}

/* page header */
.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 20px;
  border-bottom: 1px solid #ccc
}
.header-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 58px;
  vertical-align: middle;
}
.header-navigation>* {
  display: inline-block;
  margin: 0 5px;
  height: 100%;

}

.header-navigation.left-floated {
  margin: 20px 0
}

.navigation-button{
  background-color:rgb(98, 136, 165);
  color: white;
  padding: 5px;
  height: 100%;
  margin-top: 20px ;
  border-radius: 5px;
}


/*  */
.main {
  /* margin-top: 400px; */
}

.main-header-section{
  width: 960px;
  margin: 100px auto 0;
  text-align: center;

}
