/* Variables */
:root {
  --header-heigh: 40px;
}

/*  common css */
* {
  box-sizing: border-box;
}

.social-media {
  background-color: whitesmoke;
  border-radius: 50%;
}

.left-floated {
  float: left;
}

.right-floated {
  float: right;
}

.content-wide {
  width: 40vw;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

/* page header */
.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 20px;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
}

.header-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: var(--header-heigh);
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}

.header-navigation {
  height: var(--header-heigh);
  text-transform: uppercase;
}

.header-navigation>* {
  display: inline-block;
  margin: 0 5px;
  height: 100%;
}

.header-navigation.left-floated {
  line-height: var(--header-heigh);
}

.navigation-button {
  background-color: rgb(98, 136, 165);
  color: white;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  outline: none;
  padding: 0 15px;
  margin-right: 0;
  font-weight: bold;
}

.main-header-section {
  margin-top: 100px;
  text-align: center;
}

.main-title {
  width: 600px;
  margin: auto;
  font-size: 3rem;
  padding: 20px 20px 20px 100px;
  font-weight: bold;
  font-family: cursive;
  text-align: left;
}

.main-header-image {
  width: 80%;
  margin: auto;
}

.main-header-image img {
  width: 100%;
}

.main-header-image figcaption {
  color: grey;
  font-size: 1em;
  text-align: left;
}

.main-header-image figcaption sub {
  color: silver;
  font-size: 14px;
  padding-top: 4px;
}

.meta {
  margin: 30px auto;
}

.meta .author {
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  margin: 5px 5px;
}

.meta .actions .action-item {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  border-radius: 50%;
}

.meta .date {
  line-height: 35px;
  color: grey;
  font-size: 14px;
}

.main-container {
  clear: both;
}

.main-container aside {
  position: relative;
  width: 30vw;
  padding: 20px;
  float: right;
  height: 100%;


}

.main-content {
  margin-right: 0;
  /* padding-right: 50px; */
}

.main-container .first-side-item {
  position: absolute;
  top: 700px;
  margin-bottom: 20px;
  padding: 30px;
  display: inline-block;
}

.main-container .second-side-item {
  position: absolute;
  top: 1300px;
  padding: 0 20px;
}

.editor-side-item {
  display: flex;
}

.editor-side-image {
  width: 100px;
}

.editor-side-image img {
  width: 100%;
}

.editor-note {
  padding: 0 5px;
}

.second-side-item h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;

}

.second-side-item p {
  font-size: 14;
  color: silver;
  padding: 20px 0;
}

.second-side-item button {
  background-color: rgb(98, 136, 165);
  color: white;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  padding: 0 50px;
  font-weight: bold;
}


.article-footer {
  clear: both;
  position: relative;
  margin: 20px 0;
}

.article-footer button {
  float: left;
  background-color: rgb(98, 136, 165);
  color: white;
  height: 40px;
  border-radius: 5px;
  outline: none;
  padding: 0 50px;
  font-weight: bold;
}

.article-footer ul {
  float: right;
}

.article-footer ul li {
  display: inline-block;
  padding: 0 5px;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
}